<!DOCTYPE html>
<html>
<head>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDOdtScNweewSVaWPtWxu_SEKGC7Y1w01A&sensor=false&extension=.js'></script> 
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>Facebook authentication</title>
</head>
<body>
    <h1>FACEBOOK LOGIN USING PASSPORT</h1>  
    <div>
    <% if(user != undefined){ %>
        <h2>Below is the data sent by facebook</h2>
        <pre>
            <%= user.fb %>
        </pre>
        <a href="/addCon">AddCon</a>
        <a href="/logout">Logout</a>
    <% } else { %>
        <a href="/auth/facebook">Login with Facebook</a>
    <% } %>
    </div>
     <div id="fogo" style="width:1000px;height:1000px;"></div>
     <script type="text/javascript" src="assets/scripts/mapScript.js"></script>
     
</body>
</html>