<html>

  <head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	  <script type="text/javascript" src="assets/scripts/annyang.js"></script>
	  <title></title>
  </head>
  <body>
		<h1>Voice</h1>
	  <script type="text/javascript" src="assets/scripts/voice.js">

	  </script>
  </body>
</html>